* {
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    font-size: 26px;
}

body {
    font-family: 'Turret Road', sans-serif;
    color: white;
    background-image: url(images/background2.jpg);
    background-size: cover;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-family: 'Audiowide', sans-serif;
}

form {
    text-align: left;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 6px;
}
img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

article {
    width: 90%;
    padding: 4px;
    margin: 0 auto;
    
}
.js-inner-sect {
    display: block;
    width: 80%;
    margin: 4px auto;
}
p {
    margin: 2px;
}

.butt {
    display: block;
    width: 100px;
    padding: 7px;
    margin: 20px auto 0;
    border-radius: 10px;
}
#A, #B, #C, #D {
    margin: 10px;
}

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }
    .container {
        width: 60%;
    }
    img {
        width: 55%;
    }
}