* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Turret Road', sans-serif;
    font-size: 18px;
    color: white;
    background-image: url(images/background2.jpg);
    background-size: cover;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-family: 'Audiowide', sans-serif;
}

form {
    text-align: left;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}
img {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
}

article {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    
}
.js-inner-sect {
    display: block;
    width: 80%;
    margin: 12px auto;
}

.butt {
    display: block;
    width: 100px;
    padding: 7px;
    margin: 20px auto 0;
    border-radius: 10px;
}
#A, #B, #C, #D {
    margin: 10px;
}
